.breadcrumbs {
    margin-bottom: 15px;

    display: flex;
    align-items: center;
    gap: 27px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    text-transform: uppercase;
    color: var(--linii);
}

.breadcrumbs span + span {
    position: relative;
}

.breadcrumbs span + span::before {
    content: '/';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -16px;
    font-size: 18px;
}

.breadcrumbs span.current {
    color: var(--belyy);
}
