.hero {
    margin-top: 0;
}

.hero .container-right {
    @include media-L-Laptop {
        margin: 0 auto;
        padding: 0 var(--container-padding);

        max-width: var(--container-width);
        width: 100%;
    }
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 20px;
    @include media-L-Laptop {
        height: auto;
        grid-template-columns: 1fr 1fr;
    }
}

.hero__content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.title__small {
    font-weight: 600;
    font-size: 35px;
    line-height: 94%;
    letter-spacing: -0.03em;
    text-transform: uppercase;

    @include media-L-Laptop {
        font-weight: 400;
        font-size: 28px;
    }
}

.hero__text {
    margin: 39px 0 75px 0;
    max-width: 430px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    @include media-L-Laptop {
        font-size: 20px;
    }
}

.hero__buttons {
    display: grid;
    grid-template: minmax(64px, auto) / 285px 234px;
    gap: 20px;

    a {
        font-weight: 500;
    }
}

.hero__media {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 37px;
    font-size: 18px;
    line-height: 111%;
    .youtube {
        color: #ff2929;
    }
    .vkontakte {
        color: #058fe5;
    }
}

.hero__slider-wrapper.swiper {
    margin-left: unset;
    max-height: 851px;
}

.hero__slider {
    max-width: 680px;
}

.hero__slide {
    position: relative;

    picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        cursor: pointer;
        z-index: 4;
    }

    .play::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 107px;
        height: 107px;
        border-radius: 100%;
        background-color: #e6ebee;
    }

    .play::after {
        content: url('../../img/play.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 41px;
        padding-left: 5px;
    }

    .play img {
        animation-name: rotate-circle;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.hero .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero .swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 !important;
    opacity: 1;
    border: 1px solid #ada6a6;
    border-radius: 5px;
    width: 42px;
    height: 42px;
    background: transparent;
    transition: all 0.2s ease-in;

    font-weight: 700;
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ada6a6;
    &.swiper-pagination-bullet-active {
        background: var(--belyy);
        color: var(--biryuza);
        border: 1px solid var(--biryuza);
    }
}

.hero .swiper-button-next,
.hero .swiper-button-prev {
    color: var(--biryuza);
    width: calc(var(--swiper-navigation-size) / 14 * 27);
}

.hero .swiper-button-next:after,
.hero .swiper-button-prev:after {
    font-size: 70px;
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}
