.hero {
    margin-top: 0;
}

.hero__wrapper {
    height: 851px;
    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 20px;
}

.hero__content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.title__small {
    font-weight: 600;
    font-size: 35px;
    line-height: 94%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.hero__text {
    margin: 39px 0 75px 0;
    max-width: 430px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.hero__buttons {
    display: grid;
    grid-template: minmax(64px, auto) / 285px 234px;
    gap: 20px;

    a {
        font-weight: 500;
    }
}

.hero__media {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 37px;
    font-size: 18px;
    line-height: 111%;
    .youtube {
        color: #ff2929;
    }
    .vkontakte {
        color: #058fe5;
    }
}

.hero .tns-inner {
    max-width: 680px;
    width: 100%;
    overflow: hidden;
}

.hero__slider {
    max-height: 851px;
    // width: 680px;
    // height: 100%;
}

.hero__slider-wrapper {
    position: relative;
    width: 680px;
}

.hero__slider#tns1 {
    width: 680px;
}

.hero__slide {
    position: relative;
    width: 680px;
    height: 851px;

    picture img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        cursor: pointer;
        z-index: 4;
    }

    .play::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 107px;
        height: 107px;
        border-radius: 100%;
        background-color: #e6ebee;
    }

    .play::after {
        content: url('../../img/play.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 41px;
        padding-left: 5px;
    }

    .play img {
        animation-name: rotate-circle;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

.hero .tns-outer {
    position: relative;
}

.hero__slider-controls {
    max-width: 550px;
    width: 100%;
    position: absolute;
    right: 50%;
    transform: translate(50%, -50%);
    top: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    svg {
        outline: none;
    }
}

.hero__slider-wrapper .tns-nav {
    position: absolute;
    left: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1;
    button {
        border: 1px solid var(--biryuza);
        border-radius: 5px;
        width: 42px;
        height: 42px;
        background: transparent;
        transition: all 0.2s ease-in;

        font-weight: 700;
        font-size: 14px;
        line-height: 155%;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        text-align: center;
        color: #ada6a6;
        &.tns-nav-active {
            background: var(--belyy);
            color: var(--biryuza);
        }
    }
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}
