.hero {
    margin-top: 0;
}

.hero__wrapper {
    height: 851px;
    display: grid;
    grid-template-columns: 590px 1fr;
    gap: 20px;
}

.hero__content {
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.title__small {
    font-weight: 600;
    font-size: 35px;
    line-height: 94%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.hero__text {
    margin: 39px 0 75px 0;
    max-width: 430px;

    font-family: var(--second-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 125%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
}

.hero__buttons {
    display: grid;
    grid-template: minmax(64px, auto) / 285px 234px;
    gap: 20px;

    a {
        font-weight: 500;
    }
}

.hero__media {
    margin-top: auto;
    display: flex;
    align-items: center;
    gap: 37px;
    font-size: 18px;
    line-height: 111%;
    .youtube {
        color: #ff2929;
    }
    .vkontakte {
        color: #058fe5;
    }
}

.hero__slider {
    max-height: 851px;
}

.hero__slide {
    position: relative;
    width: 680px;
    max-height: inherit;

    img {
        width: 100%;
        max-height: 851px;
    }
    .play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        cursor: pointer;
    }

    .play::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 107px;
        height: 107px;
        border-radius: 100%;
        background-color: #e6ebee;
    }

    .play::after {
        content: url('../../img/play.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 28px;
        height: 41px;
        padding-left: 5px;
    }

    .play img {
        animation-name: rotate-circle;
        animation-direction: reverse;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes rotate-circle {
    to {
        transform: rotate(1turn);
    }
}
