.icons-wrapper {
	padding: 30px 0;
	display: flex;
	column-gap: 30px;
}

.icon {
	fill: transparent;
	stroke: transparent;
	width: 20px;
	height: 20px;
}

// иконки в хедере

.icon--heart,
.icon--cart {
	stroke: var(--belyy);
}
.icon--account {
	fill: var(--belyy);
	width: 15px;
	height: 17px;
}

