.title {
	text-transform: uppercase;
	font-weight: 600;
}

.title-1 {
	font-weight: 700;
	font-size: 90px;
	line-height: 94%;
	letter-spacing: -0.03em;

	color: var(--belyy);
}

.title-2 {

}

.title-3 {

}

.title-4 {

}